.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}




.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.gpt3__navbar-links_container a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    text-decoration: none;}

    .gpt3__navbar-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .gpt3__navbar-links_container p,
    .gpt3__navbar-sign p,
    .gpt3__navbar-menu_container p{
        color: #fff;
        font-family: var( --font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;

        font-family: manrope;
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
/* identical to box height */

        color: #fff;
        margin: 0 1rem;
        cursor: pointer;
    }
    .gpt3__navbar-sign button,
    .gpt3__navbar-menu_container button {
        padding: 0.5em 1rem; 
        color:#fff;
        background: #ff4820;
        font-family: var( --font-family);
        font-weight: 500;
        left: 1153px;
        top: 55px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        
    }