@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --font-family: 'Roboto', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA 0%, #F49867 100%);

    --color-bg:#040C18;
    --color-footer:#031B34;
    --color-blog:#042C54;
    --color-text:#81AFDD;
    --color-subtext:#ff8A71;


}